

.jumbotron {
  text-align:center;
  padding:10px;
  opacity:0.87;
  margin-bottom:5%;
}
.jumbotron-fluid{
    margin:0px;
    position: absolute;
    left:200px;
    text-align:center;
}
#instr{
    text-align:center;
}
#winBubble,
#loseBubble {
    width:5.5%;
    float:left;
    color:green;
    overflow:auto;
    font-weight: bold;
    margin: 0 1% 0 1%;
    height:15vh;

}
#loseBubble {
    color:red;

}
#WLOcontainer {
    position:relative;
    overflow:auto;
    height:15vh;
}
#wins,
#loses {
    font-size:40px;
}
#GAcontainer {
    text-align:center;
    color:white;
    font-weight: bold;
    height:50vh;
}
#guessR {
    background:#666666;
}
#GSF {
    background:#333333;
}
#rightAns {
    background:#666666;
}
#outlineContainter {
    width: 80%;
    position:absolute;
    left:15%;
    margin:0;
}
#wholeContainer {
    height: 50vh
}
.catButtons {
    width:16%;
}
#btnContainer {
    text-align:center;
    background:#e9ecef;
    color:#333333;
    padding-bottom:24px;
    margin-bottom:32px;
    opacity:0.87;
    vertical-align: center;
}
#bttnHeader {
    text-align:left;
}
body {
    background-image:url("../images/connectwork.png");
}
#hangmanImg {
    position:relative;
    height:40vh;
}
#imgCont {
    width:100%;
    text-align:left;
}
#gametitle {
    width:100%;
    height:15%;
}
#outline {
    height:10vh;
}